<br/>
    <table class="table table-striped table-bordered">
        <tr>
            <th>ID </th>
            <th>Workflow name </th>
            <th>Run time</th>
            <th>Is shared </th>
        </tr>
        <% @process_informations.each do |process_information| %>
            <% if process_information.workflow_information != nil%>
            <tr>
                <td>
                    <%= process_information.id %>
                </td>
                <td>
                    <%= process_information.workflow_information.name %>
                </td>
                <td>
                    <%= process_information.updated_at.strftime("%Y-%m-%d %H:%M:%S")  %>
                </td>
                <td>
                    <%= process_information.is_shared %>
                </td>
            </tr>
            <% end %>
        <% end %>
    </table>
