<!DOCTYPE html>
<!-- saved from url=(0041)http://v3.bootcss.com/examples/jumbotron/ -->



<link href="http://www.jq22.com/jquery/bootstrap-3.3.4.css" rel="stylesheet">

    <div class="container">
        <!-- Example row of columns -->
        <div class = "row">
            <div class="col-md-offset-3 col-md-6">
                <%= render '/search/model_content' %>
            </div>
        </div>

    </div> <!-- /container -->



