<!DOCTYPE html>
<!-- saved from url=(0041)http://v3.bootcss.com/examples/jumbotron/ -->




<div class="container">
    <!-- Example row of columns -->
    <div class = "row">
        <div class="col-md-offset-1 col-md-10">
            <div class = "row">
                <br/>
                <br/>
                <!--
                <h3> We have found <%= @workflow_informations.length %> model. </h3>
                -->
                
                <h3> My models <small> In total <%= @workflow_informations.length %> records </small> </h3>
                
                <br/>
            </div>
        </div>
    </div>
    <div class = "row">
        <div class="col-md-offset-1 col-md-10">
            <%= render '/history/model_table' %>
        </div>
    </div>
</div> <!-- /container -->



