<input hidden="hidden" id="show_xml" type="text" value=''>



<div style="width:1100px; height:600px">
  <div class="content" id="js-drop-zone">

    <div class="message intro">
      <div class="note">
        Please choose a diagramme to charge: <br><a id="js-create-diagram" value ="This is the value" href>Diagramme 1</a><br><a id="js-create-diagram2" value="This is the value" href>Diagramme 2</a>
      </div>
    </div>

    <div class="message error">
      <div class="note">
        <p>Ooops, we could not display the BPMN 2.0 diagram.</p>

        <div class="details">
          <span>cause of the problem</span>
          <pre></pre>
        </div>
      </div>
    </div>

    <div class="canvas" id="js-canvas" style="width:100%; height:100%"></div>
    <div id="js-properties-panel"></div>
  </div>
</div>
  <ul class="buttons">
    <li>
      download
    </li>
    <li>
      <a id="js-download-diagram" href title="download BPMN diagram">
        BPMN diagram
      </a>
    </li>
    <li>
      <a id="js-download-svg" href title="download as SVG image">
        SVG image
      </a>
    </li>
  </ul>
<%= render "/workflow_informations/show_diagram_js" %>

