
<div class="col-md-12">
    <h3>Usage frequency</h3>
    <p>Oct 30, 2016 – Feb 25, 2017</p>

</div>
<div class="col-md-11">
    <img class="img-thumbnail" src="/assets/history_frequency.png" alt="history">
</div>
<div class="col-md-12"><br/></div>
<div class="col-md-12"><br/></div>
<div class="col-md-12"><br/></div>
<div class="col-md-12"><br/></div>
<div class="col-md-12"><br/></div>
<div class="col-md-12"><br/></div>
<div class="col-md-12"><br/></div>


