<table class="table table-striped table-bordered">
    <tr>
        <th>ID </th>
        <th>Version</th>
        <th>Version description</th>
        <th>Update time</th>
    </tr>
    <% @version_workflow_informations.each do |workflow_information| %>
        <tr>
            <td>
                <%= workflow_information.id %>
            </td>
            <td>
                <%= workflow_information.detial_description %>
            </td>
            <td>
                <%= workflow_information.version_name %>
            </td>
            <td>
                <%= workflow_information.updated_at %>
            </td>
        </tr>
    <% end %>
</table>
