
<div class="jumbotron">
    <br/>
<h1 class="text-center">ISDSP</h1>
<br/>
<%= render '/search/search_bar' %>
</div>
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-6">
            <img data-src="holder.js/200x200" class="img-thumbnail center-block" alt="image" data-holder-rendered="true" style="width: 200px; height: 200px;">
            <br/>
            <h2 class="text-center">How to use the platform?</h2>
            <p  class="text-center"><a class="btn btn-default" href="./Example1.htm" role="button">Learn More »</a></p>
        </div>
        <div class="col-md-6">
            <img data-src="holder.js/200x200" class="img-thumbnail center-block" alt="image" data-holder-rendered="true" style="width: 200px; height: 200px;">
            <br/>
            <h2 class="text-center">Sample model and use case</h2>
            <p  class="text-center"><a class="btn btn-default" href="./Example1.htm" role="button">Learn More »</a></p>
        </div>
    </div>

    <hr>

    <footer>
    <p>© SJTU 2017</p>
    </footer>
</div> <!-- /container -->




