
<div class="jumbotron">
    <br/>
<h1 class="text-center">LOGO</h1>
<br/>
<%= render '/process_informations/search_bar' %>
</div>
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Category 1</h2>
            <img data-src="holder.js/200x200" class="img-thumbnail" alt="image" data-holder-rendered="true" style="width: 200px; height: 200px;">
            <p>Introduction to category 1</p>
            <p><a class="btn btn-default" href="./Example1.htm" role="button">More »</a></p>
        </div>
        <div class="col-md-4">
            <h2>Category 2</h2>
            <img data-src="holder.js/200x200" class="img-thumbnail" alt="image" data-holder-rendered="true" style="width: 200px; height: 200px;">
            <p>Introduction to category 2</p>
            <p><a class="btn btn-default" href="./Example1.htm" role="button">More »</a></p>
        </div>
        <div class="col-md-4">
            <h2>Category 3</h2>
            <img data-src="holder.js/200x200" class="img-thumbnail" alt="image" data-holder-rendered="true" style="width: 200px; height: 200px;">
            <p>Instruction to category 3</p>
            <p><a class="btn btn-default" href="./Example1.htm" role="button">More »</a></p>
        </div>
    </div>

    <hr>

    <footer>
    <p>© SJTU 2017</p>
    </footer>
</div> <!-- /container -->




