<div class="row">

    <!-- BEGIN: custom-tab vertical bordered -->
    <div class="col-sm-6">
        <div class="box">
            <header>
            <h3>Custom Tabs Vertical Bordered</h3>
            </header>
            <div class="box-body">
                <div class="tab-custom">
                    <ul class="nav nav-tabs nav-bordered">
                        <li class="active">
                        <a href="#h1" data-toggle="tab">Tab One</a>
                        </li>
                        <li>
                        <a href="#h2" data-toggle="tab">Tab Two</a>
                        </li>
                        <li>
                        <a href="#h3" data-toggle="tab">Tab Three</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="h1" class="tab-pane fade in active">
                            <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                        <div id="h2" class="tab-pane fade">Tab Two content</div>
                        <div id="h3" class="tab-pane fade">Tab Three content</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
