
<div class="row">
    <%= form_for(Homeland::Reply.new, url: reply_topic_path(@topic.id)) do |f| %>
        <%= f.hidden_field :reply_to_id %>
        <div class="col-md-12">
            <%= f.text_area :body, class: 'form-control', rows: 5, placeholder: t('homeland.topics.type_reply') %>
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary"><%= t('homeland.submit') %></button>
        </div>
    <% end %>
</div>
