<br/>
<br/>
<div class="container">
    <div class = "row">
        <div class="col-md-offset-3 col-md-6">
            <h3> New subject </h3>
            <hr.>
            <%= render_errors @topic %>
            <%= render "homeland/topics/new_fields"%>
        </div>
    </div>
</div>
