
<%= form_for :running_param, method: :post, :html => {:class => "form-horizontal", :role => "form"}, url: process_execute_path do |f|%>
    <!--
    <div class="form-group">
        <label class="col-md-12">Choose parameters</label>
        <div class="col-md-6">
            <select class="form-control">
                <option> </option>
                <option>Algorithm A result 1</option>
                <option>Algorithm B result 2</option>
            </select>
        </div>
        <br/>
    </div>
    -->
    <!-- 临时指定workflow显示的参数 -->
    <div class="form-group">
        <label class="col-md-12">Number of clusters</label>
        <div class="col-md-6">
            <%= f.hidden_field :process_id, :value => params[:process_id] %>
            <%= f.text_field :num, :class => "form-control" , :value => @param1%>
        </div>
        <br/>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            <%= f.submit :"Run", :class => "btn btn-default btn-block" %>
        </div>
    </div>

<% end %>

