<form class="form-horizontal" role="form">
    <div class="form-group">
        <div class="col-md-12">
            <div class="progress">
                <% @show_percentage = @process_percentage * 100 / @all_percentage%>
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= @show_percentage %>%;">
                    <%= @show_percentage%>%
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <label> Now running <%= @refresh_info %></label>
        </div>
        <div class="col-md-3">
            <%= link_to 'Refresh', process_execute_path(params[:process_id], :active_page => "running"), class:"btn btn-primary btn-block", role:"button" %>
        </div>
    </div>
</form>

