<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-md-12">Output filename</label>
        <div class="col-md-9">
            <input type="text" class="form-control" placeholder="Algorithm A output i">
        </div>
        <div class="col-md-3">
            <button class="btn btn-default btn-block">Download</button>
        </div>
    </div>
</form>

