<ul class="nav nav-tabs" role="tablist">
    <li role="training" class="active">
        <a href="#training_input1" aria-controls="training_input1" role="tab" data-toggle="tab">1 Algorithm A</a>
    </li>
    <li role="training">
        <a href="#training_input2" aria-controls="training_input2" role="tab" data-toggle="tab">2 Algorithm B</a>
    </li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="training_input1">
        <br/>
        <form class="form-horizontal" role="form">
            <!-- 抄的运行 -->
            <div class="row">
                <div class="col-md-2"><h4>Input data</h4></div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Input data from local file</label>
                <div class="col-md-9">
                    <input type="file" id="caseInputFile">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Input data from output</label>
                <div class="col-md-9">
                    <select class="form-control">
                        <option>Algorithm A result 1</option>
                        <option>Algorithm B result 2</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10"></div>
                <div class="col-md-2">
                    <button class="btn btn-primary btn-block">Submit</button>
                </div>
            </div>


            <br/>

            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered" data-toggle="table">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>Tag</th>
                            <th>Attribute1</th>
                            <th>Attribute2</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                    <ul class="pagination">
                        <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr/>

            <div class="row">
                <div class="col-md-8">
                    <h4>Adjust parameters</h4>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Parameter 1</label>
                <div class="col-md-3">
                    <input type="text" class="form-control">
                </div>
                <label class="col-md-3 control-label">Parameter 2</label>
                <div class="col-md-3">
                    <input type="text" class="form-control">
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-10"></div>
                <div class="col-md-2">
                    <button class="btn btn-primary btn-block">Run</button>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-12">
                    <h4> Progress rate </h4>
                </div>
                <div class="col-md-12">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            60%
                        </div>
                    </div>
                </div>
            </div>
            <hr/>

            <div class="row">
                <div class="col-md-8"><h4>Output data</h4></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tr>
                            <th>id</th>
                            <th>Tag</th>
                            <th>Attribute1</th>
                            <th>Attribute2</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                    <ul class="pagination">
                        <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                        </li>
                    </ul>
                </div>
            </div>

            <br/>

            <!-- 结束抄的运行 -->
            <div class="form-group">
                <div class="col-md-10">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary btn-block">Download</button>
                </div>
            </div>
            <hr/>
            <h4>Share</h4>
            <div class="form-group">
                <label class="col-md-3 control-label">Output filename</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Algorithm A output i">
                </div>
                <div class="col-md-3">
                    <button class="btn btn-primary btn-block">Share output</button>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Parameters name</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Algorithm A parameters i">
                </div>
                <div class="col-md-3">
                    <button class="btn btn-primary btn-block">Share parameters</button>
                </div>
            </div>


        </form>
    </div>
    <div role="tabpanel" class="tab-pane" id="training_input2">
    </div>
</div>

